body {
  color: $primary;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

/* Hero Section */

header {
  background: rgb(11, 181, 179);
  background: linear-gradient(
    142deg,
    rgba(11, 181, 179, 1) 10%,
    rgba(69, 172, 221, 1) 34%,
    rgba(70, 48, 158, 1) 88%
  );
  #hero {
    font-size: $fslg;
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  @include media-breakpoint-up(sm) {
    #hero {
      margin: 3em auto;
    }
    p {
      font-size: $fsmd;
    }
  }
}

// Slider Section

#swiper {
  .swiper-slide {
    color: $secondary;
    font-size: $fsmd;
  }
  .swiper-pagination {
    position: relative;
  }
  @include media-breakpoint-up(sm) {
    p {
      font-size: $fssm;
    }
  }
}

//Download Section

#download {
  background: url(../assets/img/bg-couple.png) no-repeat center center;
  background-size: cover;
  .text {
    color: $accent;
    font-size: $fslg;
    padding-bottom: 10em;
    a {
      background-color: $accent;
      border-radius: 24px;
      padding: 0.8em 6em;
      font-size: $fssm;
      color: $primary;
    }
  }
  @include media-breakpoint-up(sm) {
    p {
      font-size: $fsmd;
    }
  }
}

// Footer

#footer {
  font-size: $fsxs;
  background-color: $footer;
  color: $primary;
}
