/* Theme Colors */
$primary: #fff;
$secondary: #000;
$accent: #6ab5b5;
$footer: #876ab5;
// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;
// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
// box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
/* Font Size */
$fslg: 36px;
$fsmd: 24px;
$fssm: 18px;
$fsxs: 12px;
$fsxxs: 10px;
// $base-font-size: 1rem;
// $font-size-sm: $base-font-size * 0.75;
// $font-size-lg: $base-font-size * 1.5;
// $font-size-xl: $base-font-size * 2;
// $font-size-xxl: $base-font-size * 3;
