//Custom variables
$primary: #fff;
$secondary: #000;
$light: #fff;

//Import the functions & the variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #fff,
  "altdark": #522192,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  text-decoration: none;
}

:root {
  /* Colors */
  --clr-primary: #fff;
  --clr-secondary: #000;
  --clr-accent: #6ab5b5;
  --clr-footer: #876ab5;
  /* Fonts */
  --ff-primary: "Quicksand", sans-serif;
  /* Font Size */
  --fs-lg: 36px;
  --fs-md: 24px;
  --fs-sm: 18px;
  --fs-xs: 12px;
  --fs-xxs: 10px;
}

body {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 15px;
}

/* Hero Section */

header {
  background: rgb(11, 181, 179);
  background: linear-gradient(
    142deg,
    rgba(11, 181, 179, 1) 10%,
    rgba(69, 172, 221, 1) 34%,
    rgba(70, 48, 158, 1) 88%
  );
  #hero {
    font-size: var(--fs-lg);
    margin: 5em auto;
  }
  #mainNavbar {
    text-align: center;
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

@media screen and (max-width: 768px) {
  #hero p {
    font-size: var(--fs-md);
  }
  header #hero {
    margin: 2em auto;
  }
}

// Slider Section

#swiper {
  .swiper-container {
    margin-bottom: 2em;
  }
  .swiper-slide {
    flex-direction: column;
    color: var(--clr-secondary);
    font-size: var(--fs-md);
  }
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #swiper p {
    font-size: var(--fs-sm);
  }
}

//Download Section

#download {
  background: url(../assets/img/bg-couple.png) no-repeat center center;
  background-size: cover;
  .download-text {
    color: var(--clr-accent);
    margin-bottom: 20em;
  }
  .download-text p {
    font-size: var(--fs-lg);
  }
  .download-text a {
    background-color: var(--clr-accent);
    border-radius: 24px;
    padding: 0.8em 6em;
    font-size: var(--fs-sm);
    color: var(--clr-primary);
  }
}

// Footer

#footer {
  font-size: var(--fs-xs);
  background-color: var(--clr-footer);
  line-height: 2em;
  font-weight: 600;
  a {
    color: var(--clr-primary);
  }
}
@media screen and (max-width: 768px) {
  .download-text {
    margin-bottom: 15em;
    .download-text p {
      font-size: var(--fs-md);
    }
    .download-text a {
      font-size: var(--fs-xs);
    }
    .footer {
      font-size: var(--fs-xs);
    }
  }
}
