/* Colors */
$primary: #fff;
$secondary: #000;
$accent: #6ab5b5;
$footer: #876ab5;
/* Font Size */
$fslg: 36px;
$fsmd: 24px;
$fssm: 18px;
$fsxs: 12px;
$fsxxs: 10px;
//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
//Import font
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Document

* {
  text-decoration: none !important;
}

body {
  color: $primary;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

/* Hero Section */

header {
  background: rgb(11, 181, 179);
  background: linear-gradient(
    142deg,
    rgba(11, 181, 179, 1) 10%,
    rgba(69, 172, 221, 1) 34%,
    rgba(70, 48, 158, 1) 88%
  );
  #hero {
    font-size: $fslg;
    margin: 5em auto;
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

@media screen and (max-width: 768px) {
  header #hero {
    margin: 3em auto;
    p {
      font-size: $fsmd;
    }
  }
}

// Slider Section

#swiper {
  .swiper-slide {
    color: $secondary;
    font-size: $fsmd;
  }
  .swiper-pagination {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  #swiper p {
    font-size: $fssm;
  }
}

//Download Section

#download {
  background: url(../assets/img/bg-couple.png) no-repeat center center;
  background-size: cover;
  .text {
    color: $accent;
    font-size: $fslg;
    padding-bottom: 10em;
    a {
      background-color: $accent;
      border-radius: 24px;
      padding: 0.8em 6em;
      font-size: $fssm;
      color: $primary;
    }
  }
}

// Footer

#footer {
  font-size: $fsxs;
  background-color: $footer;
  color: $primary;
}

@media screen and (max-width: 768px) {
  #download {
    p {
      font-size: $fsmd;
    }
    a {
      font-size: $fssm;
    }
  }
}
